<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <property name="APP_NAME" value="provider-account" />
    <!-- 引用配置文件jdbc.properties -->
    <property resource="jdbc.properties"/>
    <!--console appender-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </encoder>
    </appender>

    <!-- rolling file appender -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>logs/${APP_NAME}.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/${APP_NAME}.%d{yyyy-MM-dd}.log.zip</fileNamePattern>
            <!--<maxHistory>30</maxHistory>-->
        </rollingPolicy>
        <encoder>
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </encoder>
    </appender>

    <!--当前应用程序的日志级别和使用的append，com.zcsmart为程序的包名-->
    <logger name="com.itgary" level="info">
        <appender-ref ref="FILE"/>
    </logger>
    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="com.zcsmart.routing" level="info" />
</configuration>